app/src/main/resources/data/workspaces/matrikkel/LokalMatrikkel/KIRKESOGNWFS/schema.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:gml='http://www.opengis.net/gml'
           elementFormDefault="qualified" targetNamespace="http://www.statkart.no/matrikkel"
           xmlns:MATRIKKEL="http://www.statkart.no/matrikkel">
    <xs:element name="KIRKESOGNWFS" substitutionGroup="gml:_Feature" type="MATRIKKEL:KIRKESOGNWFS_Type"/>
    <xs:complexType name="KIRKESOGNWFS_Type">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" name="KRETSID" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="KRETSTYPEKODEID" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="KRETSNR" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="KRETSNAVN" nillable="true"/>
                    <xs:element type="gml:MultiPolygonPropertyType" minOccurs="0" name="FLATE" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="BISPEDOMME" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="PROSTI" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="PRESTEGJELD" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>