app/src/main/resources/data/workspaces/matrikkel/LokalMatrikkel/VEGADRESSEATKOMSTPUNKTWFS/schema.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:gml='http://www.opengis.net/gml'
           elementFormDefault="qualified" targetNamespace="http://www.statkart.no/matrikkel"
           xmlns:MATRIKKEL="http://www.statkart.no/matrikkel">
    <xs:element name="VEGADRESSEATKOMSTPUNKTWFS" substitutionGroup="gml:_Feature"
                type="MATRIKKEL:VEGADRESSEATKOMSTPUNKTWFS_Type"/>
    <xs:complexType name="VEGADRESSEATKOMSTPUNKTWFS_Type">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" name="ATKOMSTID" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="ADRESSEID" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="KOMMUNENR" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="OPPHAVKODEID" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="ATKOMSTTYPEKODEID" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="ADRESSETEKST" nillable="true"/>
                    <xs:element type="gml:PointPropertyType" minOccurs="0" name="ATKOMSTPUNKT" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
