app/src/main/resources/data/workspaces/matrikkel/LokalMatrikkel/BYGNINGWFS/schema.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:gml='http://www.opengis.net/gml'
           elementFormDefault="qualified" targetNamespace="http://www.statkart.no/matrikkel"
           xmlns:MATRIKKEL="http://www.statkart.no/matrikkel">
    <xs:element name="BYGNINGWFS" substitutionGroup="gml:_Feature" type="MATRIKKEL:BYGNINGWFS_Type"/>
    <xs:complexType name="BYGNINGWFS_Type">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" name="BYGNINGID" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="KOMMUNENR" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="BYGNINGSTYPE" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="BYGNINGSTATUS" nillable="true"/>
                    <xs:element type="xs:boolean" minOccurs="0" name="SEFRAKMINNE" nillable="true"/>
                    <xs:element type="gml:PointPropertyType" minOccurs="0" name="REPRESENTASJONSPUNKT" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="BYGNINGSNR" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>