app/src/main/resources/data/workspaces/matrikkel/LokalMatrikkel/GATEADRESSEWFS/schema.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:gml='http://www.opengis.net/gml'
           elementFormDefault="qualified" targetNamespace="http://www.statkart.no/matrikkel"
           xmlns:MATRIKKEL="http://www.statkart.no/matrikkel">
    <xs:element name="GATEADRESSEWFS" substitutionGroup="gml:_Feature" type="MATRIKKEL:GATEADRESSEWFS_Type"/>
    <xs:complexType name="GATEADRESSEWFS_Type">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" name="GATEADRESSEID" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="KOMMUNENR" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="GATENR" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="HUSNR" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="BOKSTAV" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="GATENAVN" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="ALTERNATIVTNAVN" nillable="true"/>
                    <xs:element type="gml:PointPropertyType" minOccurs="0" name="REPRESENTASJONSPUNKT" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="ADRESSETEKST" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>