app/src/main/resources/data/workspaces/matrikkel/LokalMatrikkel/TEIGGRENSEPUNKTWFS/schema.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:gml='http://www.opengis.net/gml'
           elementFormDefault="qualified" targetNamespace="http://www.statkart.no/matrikkel"
           xmlns:MATRIKKEL="http://www.statkart.no/matrikkel">
    <xs:element name="TEIGGRENSEPUNKTWFS" substitutionGroup="gml:_Feature" type="MATRIKKEL:TEIGGRENSEPUNKTWFS_Type"/>
    <xs:complexType name="TEIGGRENSEPUNKTWFS_Type">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" name="TEIGGRENSEPUNKTID" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="KOMMUNENR" nillable="true"/>
                    <xs:element type="gml:PointPropertyType" minOccurs="0" name="PUNKT" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="GRENSEPUNKTMERKE" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="GRENSEPUNKTTYPE" nillable="true"/>
                    <xs:element type="xs:string" minOccurs="0" name="GRENSEPUNKTNR" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="MALEMETODE" nillable="true"/>
                    <xs:element type="xs:integer" minOccurs="0" name="NOYAKTIGHET" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>